services:
  db2:
    image: ibmcom/db2:11.5.8.0
    container_name: db2server
    privileged: true
    platform: linux/amd64
    environment:
      LICENSE: accept
      DB2INST1_PASSWORD: pass123
      DBNAME: APPDB
    ports:
      - "50000:50000"
    volumes:
      - ./init:/init
      - db2data:/database
    restart: unless-stopped

  node-api:
    platform: linux/amd64        
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: node-api
    ports:
      - "8000:8000"
    depends_on:
      - db2
    environment:
      DB_HOST: db2
      DB_PORT: 50000
      DB_NAME: APPDB
      DB_USER: db2inst1
      DB_PASSWORD: pass123
    restart: unless-stopped

volumes:
  db2data:
