services:
  db2:
    image: ibmcom/db2:11.5.8.0
    container_name: db2server
    privileged: true
    platform: linux/amd64
    environment:
      LICENSE: accept
      DB2INST1_PASSWORD: pass123
      DBNAME: APPDB
    ports:
      - "50000:50000"
    volumes:
      - ./init:/init
      - db2data:/database
    restart: unless-stopped

volumes:
  db2data:
